.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    border: 0;
    background-color: aqua;
}
li {
    margin-left: 20px;
    color: blue;
}
#buttonDiv {
    margin-left: auto;
}
li:active {
    color: black;
}
body {
    background-color: aquamarine;
}